<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="conteudo">
		<div class="container">
			<div class="p-2 mb-2 bg-body-tertiary rounded-3">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 text-center">
							<h5 class="display-7 fw-bold">Cadastrar Funcionário</h5>									
							<a class="btn btn-secondary btn-md" th:href="@{/funcionarios/listar}"><i class="bi bi-backspace">&nbsp;Voltar</i></a>
						</div>
					</div>
				</div>						
			</div>
		</div>

		<div class="container" id="cadastro">
			<div th:replace="~{fragments/alert}"></div>
			<form class="row g-3" th:action="@{/funcionarios/cadastrarFuncionario}" 
				  th:object="${funcionario}" method="POST">
				<div th:replace="~{fragments/validacao :: validacao}"></div>
				
				<div class="form-group col-8">
					<input type="text" class="form-control" id="nome" placeholder="Nome Completo" autofocus="autofocus" th:field="*{nome}"/>
					<div class="invalid-feedback"></div>
				</div>
				<div class="col-4">
					<input type="text" placeholder="Salário" class="form-control" id="salario" data-mask="#.##0,00" data-mask-reverse="true" th:field="*{salario}"/>
					<div class="invalid-feedback"></div>
				</div>			
				
				<div class="col-4">
					<label for="dataEntrada">Data de Entrada</label>
					<input type="date" class="form-control" id="dataEntrada" th:field="*{dataEntrada}"/>
					<div class="invalid-feedback"></div>
				</div>
				<div class="col-4">
					<label for="dataSaida">Data de Saída</label>
					<input type="date" class="form-control" id="dataSaida" th:field="*{dataSaida}"/>
					<div class="invalid-feedback"></div>
				</div>				
				<div class="col-4">
					<label for="cargo">Cargo</label>
					<select id="cargo" name="cargo" class="form-control">
						<option value="">Selecione...</option>
						<option th:each="c : ${cargos}" th:if="${funcionario.cargo} != null" th:selected="${c.id == funcionario.cargo.id}" th:value="${c.id}" th:text="${c.nome}">bla</option>
						<option th:each="c : ${cargos}" th:if="${funcionario.cargo} == null" th:value="${c.id}" th:text="${c.nome}">bla</option>
					</select>
					<div class="invalid-feedback"></div>
				</div>

				<div class="form-group col-md-6">
					<label for="logradouro">Logradouro</label>
					<input type="text" class="form-control" id="logradouro" placeholder="Rua, Av, Tv..." th:field="*{endereco.logradouro}"/>
					<div class="invalid-feedback"></div>
				</div>
				<div class="form-group col-md-2">
					<label for="numero">Número</label>
					<input type="text" class="form-control" id="numero" th:field="*{endereco.numero}"/>
					<div class="invalid-feedback"></div>
				</div>
				<div class="form-group col-md-4">
					<label for="complemento">Complemento</label>
					<input type="text" class="form-control" id="complemento" placeholder="fundos, casa, AP. 102, .." th:field="*{endereco.complemento}"/>
					<div class="invalid-feedback"></div>
				</div>
				<div class="form-group col-md-4">
					<label for="bairro">Bairro</label>
					<input type="text" class="form-control" id="bairro" th:field="*{endereco.bairro}"/>
					<div class="invalid-feedback"></div>
				</div>
				<div class="form-group col-md-3">
					<label for="cidade">Cidade</label>
					<input type="text" class="form-control" id="cidade" th:field="*{endereco.cidade}" />
					<div class="invalid-feedback"></div>
				</div>
				<div class="form-group col-md-2">
					<label for="uf">UF</label>
					<select id="uf" class="form-control" th:field="*{endereco.uf}">
						<option value="">Selecione...</option>
						<option th:each="uf : ${ufs}" th:value="${uf}" th:text="${uf.sigla}">AC</option>						
					</select>
					<div class="invalid-feedback"></div>
				</div>
				<div class="form-group col-md-3">
					<label for="cep">Cep</label>
					<input type="text" class="form-control" id="cep" data-mask="00000-000" th:field="*{endereco.cep}"
							value=""/>
					<div class="invalid-feedback"></div>
				</div>
				<div class="col-auto">
					<input type="hidden" id="id" th:field="*{id}"/>
					<button th:if="${edicao == true}" type="submit" name="atualizar" class="btn btn-success mb-3">Salvar Modificações</button>
					<button th:if="${edicao == false}" type="submit" name="cadastrar" class="btn btn-success mb-3">Salvar</button>
				</div>
			</form>
		</div>
	</section>
</body>
</html>		