<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="conteudo">
		<div class="container" id="listagem">
			<div th:replace="~{fragments/alert}"></div>
			<div class="table-responsive">
				<div class="p-2 mb-2 bg-body-tertiary rounded-3">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12 text-center">
								<h5 class="display-7 fw-bold">Lista de Funcionários</h5>									
								<a class="btn btn-secondary btn-md" th:href="@{/funcionarios/cadastrar}"><i class="bi bi-plus-lg">&nbsp;Cadastrar</i></a>
							</div>
						</div>
					</div>						
				</div>
				<table id="datatable" class="table table-striped table-hover table-sm" style="width: 100%;">
					<thead>
					<tr>
						<th>#</th>
						<th>Nome</th>
						<th>Salário</th>
						<th>Cargo</th>
						<th>Departamento</th>
						<th>Endereço</th>
						<th>Data de Entrada</th>
						<th>Data de Saída</th>
						<th>Ação</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="f : ${funcionarios}">
						<td th:text="${f.id}">1</td>
						<td th:text="${f.nome}">Jorge da Silva</td>
						<td th:text="|R$ ${{f.salario}}|">R$ 3.500,99</td>
						<td th:text="${f.cargo.nome}">Recursos Humanos</td>
						<td th:text="${f.cargo.departamento.nome}">Auxiliar de RH</td>
						<td>
							<button type="button" class="btn btn-secondary btn-sm" 
									data-bs-container="body"
									data-bs-toggle="popover" 
									data-bs-placement="top"
									th:attr="data-bs-content=${#strings.concat(
										f.endereco.logradouro, ', ',
										f.endereco.numero, ' ', 
										f.endereco.complemento, ' - ', 
										f.endereco.bairro, ',  ', 
										f.endereco.cidade, ' - ', 
										f.endereco.uf.sigla, ' - ', 
										f.endereco.cep 
									)}">
									<i class="bi bi-eye" aria-hidden="true"></i>
							</button>
						</td>
						<td th:text="${#temporals.format(f.dataEntrada, 'dd/MM/yyyy')}">01/10/2014</td>
						<td th:text="${#temporals.format(f.dataSaida, 'dd/MM/yyyy')}"></td>
						<td colspan="2">
							<a class="btn btn-info btn-sm" th:href="@{/funcionarios/editar/{id} (id=${f.id})}" role="button">
								<i class="bi bi-pencil-square"></i>
							</a>
							<button th:id="${#strings.concat('btn_funcionarios/excluir/', f.id)} " type="button" class="btn btn-danger btn-sm"
									data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-trash3"></i></button>
						</td>
					</tr>					
					</tbody>
				</table>
			</div>
		</div>
		<div th:replace="~{fragments/modal :: modal}"></div>
	</section>
</body>
</html>		