<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="conteudo">
		<div class="container">
			<div class="p-2 mb-2 bg-body-tertiary rounded-3">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 text-center">
							<h5 class="display-7 fw-bold">Cadastrar Cargo</h5>									
							<a class="btn btn-secondary btn-md" th:href="@{/cargos/listar}"><i class="bi bi-backspace">&nbsp;Voltar</i></a>
						</div>
					</div>
				</div>						
			</div>
		</div>

		<div class="container" id="cadastro">
			<div th:replace="~{fragments/alert}"></div>
			<form class="row g-3" 
				  th:action="@{/cargos/cadastrarCargo}" th:object="${cargo}" method="POST">	
				  <div th:replace="~{fragments/validacao :: validacao}"></div>			
				<div class="col-6">
					<input type="text" class="form-control" id="nome" placeholder="Novo Cargo" autofocus="autofocus" th:field="*{nome}" />
				</div>
				<div class="col-5">
					<select id="departamento" class="form-control" name="departamento">
						<option value="">Selecione</option>
						<option th:each="d : ${departamentos}" th:if="${cargo.departamento} != null" th:selected="${d.id == cargo.departamento.id}" th:value="${d.id}" th:text="${d.nome}">bla</option>
						<option th:each="d : ${departamentos}" th:if="${cargo.departamento} == null" th:value="${d.id}" th:text="${d.nome}">bla</option>
					</select>
				</div>
				<div class="col-auto">
					<input type="hidden" id="id" th:field="*{id}" />
					<button th:if="${edicao == true}" type="submit" name="atualizar" class="btn btn-success mb-3">Salvar Modificações</button>
					<button th:if="${edicao == false}" type="submit" name="cadastrar" class="btn btn-success mb-3">Salvar</button>
				</div>
			</form>
		</div>
	</section>
</body>
</html>		