<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>	
	<section class="layout-content" layout:fragment="conteudo">
		<div class="container">
			<div class="p-2 mb-2 bg-body-tertiary rounded-3">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 text-center">
							<h5 class="display-7 fw-bold">Cadastrar Departamento</h5>									
							<a class="btn btn-secondary btn-md" th:href="@{/departamentos/listar}"><i class="bi bi-backspace">&nbsp;Voltar</i></a>
						</div>
					</div>
				</div>						
			</div>
		</div>

		<div class="container" id="cadastro">
			<div th:replace="fragments/alert"></div>
			<form class="row g-3 justify-content-md-center" 
				  th:action="${departamento.id == null} ? @{/departamentos/salvar} : @{/departamentos/editar}" 
				  th:object="${departamento}" method="POST">
				<div class="col-4">
					<label for="nome"><strong>Departamento</strong></label>
				    <input type="text" class="form-control" id="nome" placeholder="Informe o nome do departamento" th:field="*{nome}"
						   th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'">
						   <span class="fv-help-block" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
				</div>
				<div class="col-md-7 offset-md-3">
					<input type="hidden" id="id" th:field="*{id}"/>
					<button  type="submit" class="btn btn-success mb-3">Salvar</button>
				</div>
			</form>
		</div>
	</section>	
</body>
</html>
