<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>	
	<section class="layout-content" layout:fragment="conteudo">
		<div class="container">
			<div class="p-2 mb-2 bg-body-tertiary rounded-3">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 text-center">
							<h5 class="display-7 fw-bold">Cadastrar Departamento</h5>									
							<a class="btn btn-secondary btn-md" href="/departamentos/listar"><i class="bi bi-backspace">&nbsp;Voltar</i></a>
						</div>
					</div>
				</div>						
			</div>
		</div>

		<div class="container" id="cadastro">
			<form class="row g-3" th:action="${departamento.id == null} ? @{/departamentos/salvar} : @{/departamentos/editar}" th:object="${departamento}" method="POST">
				<div class="col-11">
				  <input type="text" class="form-control" id="nome" placeholder="Novo departamento" th:field="*{nome}">
				</div>
				<div class="col-auto">
					<input type="hidden" id="id" th:field="*{id}"/>
				  <button type="submit" class="btn btn-success mb-3">Salvar</button>
				</div>
			</form>
		</div>
	</section>	
</body>
</html>
