<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="conteudo">
		<div class="container" id="listagem">
			<div th:replace="~{fragments/alert}"></div>
			<div class="table-responsive">
				<div class="p-2 mb-2 bg-body-tertiary rounded-3">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12 text-center">
								<h5 class="display-7 fw-bold">Lista de Departamentos</h5>									
								<a class="btn btn-secondary btn-md" th:href="@{/departamentos/cadastrar}"><i class="bi bi-plus-lg">&nbsp;Cadastrar</i></a>
							</div>
						</div>
					</div>						
				</div>
				<table id="datatable" class="table table-striped table-hover table-sm" style="width: 100%;">
					<thead>
					<tr>
						<th>#</th>
						<th>Nome</th>
						<th>Ação</th>
					</tr>
					</thead>
					<tbody>
						<tr th:each="d : ${departamentos}">
							<td th:text="${d.id}">4</td>
							<td th:text="${d.nome}">Tecnologia da Informação</td>
							<td colspan="2">
								<a class="btn btn-info btn-sm" th:href="@{/departamentos/editar/{id}(id=${d.id}) }" role="button">
									<i class="bi bi-pencil-square"></i>
								</a>
								<button th:id="${ 'btn_departamentos/excluir/' + d.id}" type="button" class="btn btn-danger btn-sm" 
										data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-trash3"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:replace="~{fragments/modal :: modal}"></div>
	</section>
</body>
</html>		