<html>
<head><meta charset="UTF-8"></head>
<body>
 	<div th:if="${#fields.hasAnyErrors()}" th:fragment="validacao">	
		  <div class="alert alert-danger" role="alert">
		  <div th:each="error : ${#fields.detailedErrors()}">
		    <i class="bi bi-exclamation-triangle"></i>
		  	<span>
				<strong th:text="${error.message}"></strong>
			</span>
		  </div>
		  <button type="button" class="btn btn-secondary close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
		</div>
	</div>			
</body>
</html>	